*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.eggs/
*.log
*.pot
__pycache__/
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
*.iml
node_modules/
public/js/
public/css/
